params {
    data_path = "/vast/eande106/data/transfer/raw"
    tmpdir = "/scratch4/eande106/AndersenLab/tmp"
    mode = "inbred"
    source = "default"
    blobtools = null
}

executor {
    queueSize=500
    submitRateLimit=10
}

process {

    executor = "slurm"
    clusterOptions = "-A eande106 -e errlog.txt -N 1"
    maxRetries = 1

    withLabel: 'pb_mark_duplicates' {
        maxRetries = 2
        time = "12.hour"
        cpus = { 24 * task.attempt }
        clusterOptions = "-A eande106 -e errlog.txt -N 1"
        queue = "parallel"
        conda = "/data/eande106/software/conda_envs/assemblynf_env"
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
    }

    withLabel: 'pb_assemble' {
        maxRetries = 2
        clusterOptions = "-A eande106_bigmem -e errlog.txt -N 1"  
        time = "48.hour"
        cpus = { 4 * task.attempt }
        queue = "bigmem"
        conda = "/data/eande106/software/conda_envs/assemblynf_env"
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
    }

    withLabel: 'merge' {
        maxRetries = 1
        cpus = 12
        time = "8.hour"
        queue = "parallel"
        conda = "/data/eande106/software/conda_envs/assemblynf_env"
        array = 50
    }

    withLabel: 'gather_stats' {
        maxRetries = 2
        cpus = 4
        queue = "parallel"
        conda = "/data/eande106/software/conda_envs/assemblynf_env"
    }

    withLabel: 'blobtools' {
        maxRetries = 2
        time = "48.hour"
        cpus = { 24 * task.attempt }    
        queue = "bigmem"
        clusterOptions = "-A eande106_bigmem -e errlog.txt -N 1"
        conda = "/data/eande106/software/conda_envs/blob"
        array = 25
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
    }
    
    withLabel: 'busco' {
        time = "12.hour"
        cpus = 4
        conda = "/data/eande106/software/conda_envs/busco"
        array = 50
    }
    
    withLabel: 'gather_statsFiltered' {
        cpus = 4
        queue = "parallel"
        conda = "/data/eande106/software/conda_envs/blob"
    }
    
}
